{% extends "food_app/base.html" %}
{% load static %}

{% block title %}Menu{% endblock %}
{% block content %}

<h2 class="mb-3">Menu</h2>

{% for c in categories %}
<h4 class="mt-4">{{ c.name }}</h4>
<div class="row g-3">

  {% for p in c.products.all %}
  <div class="col-6 col-md-3">
    <div class="card h-100">

      {% if p.image %}
      <img src="{{ p.image.url }}" class="product-image">
      {% endif %}

      <div class="card-body d-flex flex-column">
        <h6 class="fw-bold">{{ p.name }}</h6>
        <p class="text-muted">₹ {{ p.price }}</p>

        <div class="mt-auto d-flex gap-2">
          <a href="{% url 'product_detail' p.id %}" class="btn btn-outline-primary w-50">View</a>

          <form action="{% url 'add_to_cart' p.id %}" method="post" class="w-50">
            {% csrf_token %}
            <button class="btn btn-primary w-100">Add</button>
          </form>
        </div>
      </div>

    </div>
  </div>
  {% endfor %}

</div>
{% endfor %}

{% endblock %}
